body{
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'The Nautigal', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Vujahday Script', cursive;
    margin: 0;
}

h1{
    font-size: 50px;
    padding-left: 5%;
    border-left: 5px solid;
    border-image: linear-gradient(blue,pink);
    border-image-slice: 1;
}
h2{
    font-size: 50px;
    text-align: center;
}

h3{
    font-size: 40px;
    text-align: left;
}

h4{
    font-size: 20px;
    padding-left: 10%;
}
h5{
    font-size: 15px;
}
.salmon{
    color: salmon;
}

p{
    font-size: 20px;
}

.container{
    display: flex;
}

.container-div{
    width: 40%;
    padding-left: 10%;
    padding-top: 5%;
}
.container-div img{
    width: 70%;
    padding:5%
}

.container-mission-div{
    width: 40%;
    border: 2px solid white;
    border-radius: 20px;
    margin: 1%;
}

.container-mission-div img{
    width: 50%;
    margin-left: 10%;
    padding-top: 5%;
}

.side-margin{
    margin: 10%;
}

#light-pink{
    background-color: rgb(246, 228, 231);
}

#light-blue{
    background-color: rgb(218, 235, 245);
}

#light-yellow{
    background-color: rgb(246, 246, 206);
}

.center{
    padding-left: 10%;
}

#learn-more{
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px grey;
}


.btn-btn{
    color: rgb(253, 250, 250);
    text-decoration: none;
    border-radius: 2px;
    padding:10px 30px;
    font-weight: 700;
    background-image: linear-gradient(rgb(60, 60, 221),rgb(243, 128, 147));
}

#form-div{
    padding-top: 80%;
    padding-bottom: 5%;
}

#move-right-pic{
    width: 50%;
    margin-top:15%;
    margin-left: 55%;
}

#footer{
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
    background-color: rgb(131, 131, 131);
    color: rgb(251, 248, 242);
    margin-top: 5%;
}

#bottom-span{
    color: rgb(231, 123, 245);
}

